<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Beatbot</title>
    </head>
    <body style="background-color:#fafafa;">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="static/HackTimer.silent.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1"><i class="fas fa-music"></i> Beatbot</span>
            <span class="navbar-text">Tune in at <a href="http://cowboyneal.caster.fm/"><i class="fas fa-podcast"></i> cowboyneal.caster.fm</a></span>
            <span class="navbar-text"><a href="nowplaying.rss"><i class="fas fa-rss-square"></i></a></span>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 style="margin-top:.5rem;">Now Playing</h2>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-4">
                    <img id="np_thumb" class="img-thumbnail rounded">
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 id="np_name" class="card-title">Song Name</h4>
                            <h5 id="np_artist" class="card-subtitle mb-2 text-muted">Artist</h5>
                            <p id="np_album" class="card-text">Album (Year)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal"><i class="far fa-star"></i> Request A Song</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10" style="padding-top:15px;">
                    <div class="progress">
                        <div id="play_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2" style="padding-top:10px;">
                    <div class="float-right">
                        <p><span id="play_clock_elapsed"></span>&nbsp;/&nbsp;<span id="play_clock_duration"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Up Next</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="playlist" class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Album</th>
                                <th scope-"col">Length</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Thanks for listening!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalTitle">Request A Song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="search_term" placeholder="Find a song" aria-label="Text to match" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" onclick="searchSongs()">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <form>
                                        <div class="form-group">
                                            <label for="song_select">Matches</label>
                                            <select id="song_select" class="form-control" size="10" onchange="enableRequestSubmit();">
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="queue_button" type="button" class="btn btn-primary" onclick="submitRequest();" disabled>Request Song</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function time_format(time) {
                var minutes = Math.trunc(time / 60);
                var seconds = Math.trunc(time % 60);

                if (seconds < 10) {
                    seconds = '0' + seconds;
                }

                return minutes + ':' + seconds;
            }

            function updateProgress(elapsed, duration) {
                var progress_perc = Math.trunc((elapsed / duration) * 100);
                $('#play_progress').attr('style','width: ' + progress_perc +
                    '%');
                $('#play_progress').attr('aria-valuenow', progress_perc);
                $('#play_clock_elapsed').text(time_format(elapsed));
                $('#play_clock_duration').text(time_format(duration));
            }

            function updateUpNext(playlistinfo) {
                $('tr:has(td)').remove();
                $.each(playlistinfo, function (index, song) {
                    $('#playlist').append($('<tr/>')
                        .append($('<td/>').text(song.title))
                        .append($('<td/>').text(song.artist))
                        .append($('<td/>').text(song.album))
                        .append($('<td/>').text(time_format(song.time)))
                    );
                });
            }

            function getPlaylist() {
                $.ajax({
                    url: 'playlistinfo',
                    type: 'GET',
                    dataType: 'json',
                    success: function(json) {
                        updateUpNext(json.playlistinfo);
                    },
                    error: function(xhr, status) {
                    }
                });
            }

            function full_refresh() {
                var elapsed, duration;
                var timer = 0;

                $.ajax({
                    url: 'mpd',
                    type: 'GET',
                    dataType: 'json',
                    success: function(json) {
                        $(document).prop('title', 'Beatbot: ' +
                            json.currentsong.title + ' - ' +
                            json.currentsong.artist);

                        $('#np_thumb').attr('src', 'album_art/' +
                            json.currentsong.id);
                        $('#np_name').text(json.currentsong.title);
                        $('#np_artist').text(json.currentsong.artist);
                        $('#np_album').text(json.currentsong.album + ' (' +
                            json.currentsong.date + ')');

                        elapsed = json.status.elapsed;
                        duration = json.status.duration;
                        updateProgress(elapsed, duration);

                        updateUpNext(json.playlistinfo);

                        var x = setInterval(function() {
                            elapsed++;
                            timer++;
                            updateProgress(elapsed, duration);

                            if (timer >= 60) {
                                getPlaylist();
                                timer = 0;
                            }

                            if (elapsed >= duration) {
                                clearInterval(x);
                                full_refresh();
                            }
                        }, 1000);
                    },
                    error: function(xhr, status) {
                    }
                });
            }

            $(function () {
                full_refresh();
            });

            function searchSongs() {
                var match = $('#search_term').val();

                if (match.length === 0 || !match.trim()) {
                    return;
                }

                $.ajax({
                    url: 'search/' + match,
                    type: 'GET',
                    dataTyoe: 'json',
                    success: function(json) {
                        $('option').remove();

                        $.each(json.results, function(index, song) {
                            $('#song_select').append(new Option(song.title + ' - ' + song.artist, song.id));
                        });
                    },
                    error: function(xhr, status) {
                    }
                });
            }

            function enableRequestSubmit() {
                var selection = $('#song_select option:selected').text();

                if (selection.match(/Chingy/)) {
                    $('#queue_button').prop('disabled', true);
                    $('#queue_button').html('No Chingy!');
                    return;
                }

                $('#queue_button').html('Request Song');
                $('#queue_button').prop('disabled', false);
            }

            function submitRequest() {
                var song_id = $('#song_select').val();

                $('#search_term').val('');
                $('option').remove();
                $('#queue_button').prop('disabled', true);
                $('#searchModal').modal('hide');

                $.ajax({
                    url: 'queue_request/' + song_id,
                    type: 'GET',
                    dataType: 'json',
                    success: function(json) {
                        updateUpNext(json.playlistinfo);
                    },
                    error: function(xhr, status) {
                    }
                });
            }
        </script>
    </body>
</html>
