{% extends 'base.html' %}

{%- block modal %}
    <!-- Modal -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog"
        aria-labelledby="search-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="search-modal-title">Request A Song</h5>
            <button type="button" class="close" data-dismiss="modal"
                aria-label="Close" onclick="resetSearchForm(true);">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row text-light">
                <div class="col">
                    <p><b>Search Tips</b></p>
                </div>
              </div>
              <dl class="row text-light mb-0">
                <dt class="col-sm-4">
                  <code>&lt;keyword1&gt;&nbsp;&lt;keyword2&gt;</code>
                </dt>
                <dd class="col-sm-8">
                  Find songs that match <code>&lt;keyword1&gt;</code> or
                  <code>&lt;keyword2&gt;</code>.
                </dd>
                <dt class="col-sm-4">
                  <code>"&lt;keyphrase&gt;"</code>
                </dt>
                <dd class="col-sm-8">
                  Find songs that match <code>&lt;keyphrase&gt;</code>.
                </dd>
                <dt class="col-sm-4">
                  <code>-&lt;keyword&gt;</code>
                </dt>
                <dd class="col-sm-8">
                  Exclude songs that match <code>&lt;keyword&gt;</code>.
                </dd>
              </dl>
              <div class="row text-light pb-3">
                <div class="col-12">
                  <ul>
                    <li>All searches are case-insensitive.</li>
                    <li>Requests are queued after the On Deck song.</li>
                  </ul>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="search-term"
                        placeholder="Find a song" aria-label="Text to match"
                        onkeypress="checkSearchKey(event);">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button"
                          onclick="searchSongs();">
                        <i class="fas fa-search"></i> Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <form>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-4">
                          <label class="text-light" for="song-select">
                            <b>Matches</b>
                          </label>
                        </div>
                        <div class="col-8">
                          <label id="search-error" class="text-warning"
                              for="song-select" style="display:none;">
                            Sorry, no matches were found.
                          </label>
                        </div>
                      </div>
                      <select id="song-select" class="form-control" size="10"
                          onchange="enableRequestSubmit();">
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button id="queue-button" type="button" class="btn btn-primary"
                  onclick="submitRequest();" disabled>
                Request Song
              </button>
          </div>
        </div>
      </div>
    </div>
{% endblock -%}
